body:has(.layoutwrapper[data-theme='login']) {
	background-color: var(--color-neutral-0);
}

.layoutwrapper[data-theme='login'] {
	.layoutwrapper-aside {
		display: none;
	}
	.layoutwrapper-body {
		padding: 0;
	}
	.layoutwrapper-body-content {
		max-width: unset;
	}
}

.login-giant-image {
	height: 100vh;
	left: 0;
	max-width: 60%;
	position: fixed;
	top: 0;
	img {
		width: 100%;
	}
}

.login-floating-content {
	background-color: var(--color-neutral-0);
	border-radius: 8px;
	box-shadow: var(--box-shadow-md);
	left: unset;
	max-width: 400px;
	padding: 24px;
	position: fixed;
	right: 10%;
	top: 50%;
	transform: translateY(-70%);
}

@media (max-width: 800px) {
	.login-floating-content {
		left: 50%;
		max-width: 70%;
		right: unset;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}
