@use '../../01-foundations/styles/_mixins.scss' as *;

div[data-block$='Tabs'],
div[data-block$='TabHeader'],
div[data-block$='TabContent'] {
	display: contents;
}

.sapphire-tabs {
	display: flex;
	flex-direction: column;
	width: 100%;
	&-header {
		border-block-end: 1px solid var(--color-neutral-6);
		display: flex;
		width: 100%;
		&-items {
			align-items: center;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			.list.list-group {
				display: contents;
			}
		}
		&-button {
			@include focus-visible();
			align-items: center;
			color: var(--color-neutral-7);
			cursor: pointer;
			display: flex;
			font-weight: 700;
			gap: 4px;
			padding-block: 8px;
			&.is-active {
				color: var(--color-primary);
			}
		}
	}
	&-content {
		flex: 1;
		min-height: 0;
		min-width: 0;
	}
}

.overlay-content .sapphire-tabs-header-overflow {
	display: contents;
}

.sapphire-tabheader-content {
	align-items: center;
	appearance: none;
	background: transparent;
	border: 0;
	border-block-end: 2px solid transparent;
	color: var(--color-neutral-8);
	cursor: pointer;
	display: flex;
	font-weight: 700;
	gap: 8px;
	padding-block: 8px;
	padding-inline: 16px;

	span[data-expression] {
		white-space: unset;
	}
	&:hover {
		color: var(--color-neutral-9);
	}
}

.sapphire-tabheader {
	@include focus-visible();
	width: fit-content;
}

.sapphire-tabheader[data-active='true'] {
	> .sapphire-tabheader-content {
		border-block-end-color: var(--color-primary);
		color: var(--color-primary);
	}
}

.sapphire-tabheader[data-active='true'].is-overflowed {
	> .sapphire-tabheader-content {
		border-block-end-color: transparent;
	}
}

.sapphire-tabcontent {
	display: none;
	padding-block: var(--tabs-content-padding-block, 1rem);
	padding-inline: var(--tabs-content-padding-inline, 0);
}

.sapphire-tabcontent[data-active='true'] {
	display: block;
}

.sapphire-tabs-content {
	max-height: var(--tabs-max-height);
}
