.display-contents {
	display: contents;
}

.display-grid {
	display: grid;
}

.display-flex {
	display: flex;
}

.display-block {
	display: block;
}

.hidden {
	display: none !important;
}

.hide-when-empty:empty {
	display: none !important;
}
