.place-content-center {
	place-content: center;
}

.place-items-center {
	place-items: center;
}

.user-select-none {
	user-select: none;
}

.flex-11auto {
	flex: 1 1 auto;
}

.flex-110 {
	flex: 1 1 0;
}

.border-solid-1 {
	border-style: solid;
	border-width: 1px;
}
