div[data-widthcomponent] {
	width: 100%;
}

div[data-widthcomponent='auto'] {
	width: fit-content;
}

div[data-widthcomponent='s'] {
	max-width: 200px;
}

div[data-widthcomponent='m'] {
	max-width: 300px;
}

div[data-widthcomponent='full'] {
	width: 100%;
}
