// div[data-widthcomponent] {
// 	width: fit-content;
// }

div[data-widthcomponent='auto'] {
	width: fit-content;
}

$widthcomponent-sizes: (
	'xs2': 48px,
	'xs': 80px,
	's': 120px,
	'm': 160px,
	'l': 240px,
	'xl': 320px,
	'xl2': 480px,
	'xl3': 640px,
	'xl4': 800px,
	'xl5': 960px,
	'xl6': 1120px,
	'xl7': 1280px,
	'full': 100%,
	'auto': fit-content,
);

@each $name, $size in $widthcomponent-sizes {
	div[data-widthcomponent='#{$name}'] {
		max-width: $size;
	}
	.max-width-#{$name} {
		max-width: $size;
	}
	.min-width-#{$name} {
		min-width: $size;
	}
	.width-#{$name} {
		width: $size;
	}
}

.tablewrapper[data-columnfixedwidths='false'] {
	@each $name, $size in $widthcomponent-sizes {
		.width-#{$name} {
			width: unset;
		}
	}
}

.tablewrapper[data-columnfixedwidths='true'] {
	@each $name, $size in $widthcomponent-sizes {
		th.width-#{$name},
		td.width-#{$name} {
			min-width: $size;
			width: $size;
		}
	}
}
