div[data-widthcomponent] {
	width: 100%;
}

div[data-widthcomponent='auto'] {
	width: fit-content;
}

$widthcomponent-sizes: (
	'xs2': 48px,
	'xs': 80px,
	's': 120px,
	'm': 160px,
	'l': 240px,
	'xl': 320px,
	'xl2': 480px,
	'xl3': 640px,
);

@each $name, $size in $widthcomponent-sizes {
	div[data-widthcomponent='#{$name}'] {
		max-width: $size;
	}
	.width-#{$name} {
		width: $size;
	}
}

div[data-widthcomponent='full'] {
	width: 100%;
}
