@use '../../01-foundations/_mixins.scss' as *;

div[data-block$='Overlay'] {
	display: contents;
}

.overlay {
	display: inline-flex;
	&-trigger {
		@include focus-visible();
		&:empty {
			display: none;
		}
	}
}

.overlay[data-trigger*='click'] {
	.overlay-trigger {
		cursor: pointer;
	}
}

.tippy-box {
	background: var(--color-neutral-9);
	border: 1px solid var(--color-neutral-9);
	border-radius: 8px;
	box-shadow:
		0 2px 6px rgba(0, 0, 0, 0.04),
		0 6px 16px rgba(0, 0, 0, 0.06);
	color: var(--color-neutral-0);
	.overlay-close {
		position: absolute;
		right: 4px;
		top: 4px;
		z-index: 1;
	}
	.tippy-content {
		transition: none;
	}
	.tippy-arrow {
		&:before {
			color: var(--color-neutral-9);
			filter: drop-shadow(0 0 0 #000);
		}
	}
}

.tippy-box[data-persistent='true'] {
	.scrollablecontent-header {
		padding-right: 32px;
	}
}

.overlay-item,
a.overlay-item {
	align-items: center;
	color: var(--color-neutral-8);
	display: flex;
	font-size: var(--font-size-base);
	gap: 8px;
	padding: var(--space-xs);
	&:hover {
		background-color: var(--color-neutral-3);
		color: var(--color-neutral-9);
		text-decoration: none;
	}
	&.sapphire-tabheader {
		width: unset;
	}
	.sapphire-tabheader-content {
		border: none;
		color: inherit;
		padding: 0;
	}
}

.overlay-content:has(.overlay-item) {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
