@use '../01-foundations/styles/_mixins.scss' as *;

.button-group {
	display: inline-flex;
	.button-group-item {
		@include focus-visible();
		overflow-wrap: normal;
		white-space: nowrap;
		word-break: normal;
		.svg-icon {
			vertical-align: middle;
		}
	}
}

.button-group.small {
	.button-group-item {
		height: 30px;
	}
}

.button-group.xsmall {
	.button-group-item {
		font-size: var(--font-size-xs);
		height: 20px;
		padding-inline: var(--space-s);
	}
}
