@use '../01-foundations/styles/_mixins.scss' as *;

span:has(> [data-switch]) {
	display: contents;
}

input[data-switch] {
	@include focus-visible();
	vertical-align: bottom;
	&.small {
		height: 22px;
		width: 36px;
		&:empty:before {
			height: 20px;
			width: 34px;
		}
		&:empty:after {
			height: 14px;
			top: 4px;
			transform: translateX(3px) translateZ(0);
			width: 14px;
		}
		&:checked:after {
			transform: translateX(18px) translateZ(0);
		}
	}
}
