div[data-block$='MasterDetail'] {
	display: contents;
}

.masterdetail {
	display: flex;
	gap: 16px;
	width: 100%;
	&-aside {
		flex: 1;
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}
	&-content {
		flex: 1;
		min-width: 0;
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}
}

.masterdetail[data-theme~='aside-no-scroll'] {
	.masterdetail-aside {
		scrollbar-gutter: unset;
		scrollbar-width: none;
	}
}

.popup-content-body .masterdetail {
	max-height: var(--popupcontentbody-height);
}

.masterdetail-aside:has(.scrollablecontent) > div {
	display: contents;
	.scrollablecontent {
		height: 100%;
	}
}
