@use '../../01-foundations/styles/_mixins.scss' as *;

div[data-block$='DropdownMenu'] {
	display: contents;
}

.dropdownmenu {
	user-select: none;
	&-header {
		@include focus-visible();
		align-items: flex-start;
		border-inline-start: solid 3px var(--color-neutral-0);
		cursor: pointer;
		display: flex;
		gap: 8px;
		height: 26px;
		margin-bottom: 8px;
		&:hover {
			border-inline-start-color: var(--color-primary);
		}
		&-icon {
			padding-top: 3px;
		}
		&-label {
			flex: 1 1 auto;
			padding-top: 1x;
		}
		&-chevron {
			color: var(--color-neutral-6);
			display: grid;
			height: 16px;
			margin-top: 6px;
			place-items: center;
			width: 16px;
		}
	}
	&-items {
		display: none;
		a {
			@include focus-visible();
			color: var(--color-neutral-9);
			display: block;
			font-size: 14px;
			min-height: 30px;
			&:hover {
				font-weight: 700;
				text-decoration: none;
			}
			&.active {
				font-weight: 700;
			}
		}
	}
}

.dropdownmenu[data-rootlevel='true'] {
	margin-bottom: 24px;
	> .dropdownmenu-header {
		padding-inline-start: 8px;
		.dropdownmenu-header-label {
			font-size: 18px;
			font-weight: 600;
		}
	}
	> .dropdownmenu-items {
		padding-inline-start: 36px;
	}
}

.dropdownmenu[data-rootlevel='false'] {
	> .dropdownmenu-header {
		border-inline-start: none;
		.dropdownmenu-header-icon {
			display: none;
		}
	}
	> .dropdownmenu-items {
		padding-inline-start: 12px;
	}
}

.dropdownmenu[data-isopen='true'] {
	> .dropdownmenu-header {
		.dropdownmenu-header-chevron {
			color: var(--color-neutral-10);
			transform: rotate(180deg);
		}
	}
	> .dropdownmenu-items {
		display: block;
	}
}

.dropdownmenu[data-rootlevel='true'][data-isactive='true'] {
	> .dropdownmenu-header {
		border-inline-start-color: var(--color-primary);
		.dropdownmenu-header-icon {
			color: var(--color-primary);
		}
		.dropdownmenu-header-label {
			font-weight: 700;
		}
	}
}
