.buttondropdown[data-isvalid='false'] {
	.buttondropdown-label,
	.buttondropdown-arrow,
	.buttondropdown-label:hover,
	.buttondropdown-arrow:hover {
		background-color: var(--color-error-light) !important;
		color: var(--color-text);
		outline-color: var(--color-error);
	}
	.svg-icon {
		color: var(--color-neutral-10);
	}
}

.buttondropdown[data-enabled='false'] {
	cursor: not-allowed;
	.buttondropdown-label,
	.buttondropdown-arrow {
		background-color: var(--color-background-disabled) !important;
		color: var(--color-text-disabled);
		outline-color: var(--color-border);
		pointer-events: none;
	}
	.svg-icon {
		color: var(--color-text-disabled);
	}
}

.buttondropdown[data-size='xsmall'] {
	.btn {
		height: 22px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 22px !important;
	}
}

.buttondropdown[data-size='small'] {
	.btn {
		height: 30px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 30px !important;
	}
}
