@keyframes buttondropdown-waiting-creation {
	from {
		width: 3px;
	}
	to {
		width: var(--buttondropdown-label-width);
	}
}

.buttondropdown.is-waiting {
	overflow: hidden;
	.buttondropdown-label {
		color: var(--color-neutral-8);
		pointer-events: none;
	}
	&:after {
		animation-duration: var(--buttondropdown-waiting-duration);
		animation-fill-mode: forwards;
		animation-name: buttondropdown-waiting-creation;
		animation-timing-function: linear;
		background-color: rgba(0, 0, 0, 0.1);
		border-end-start-radius: 8px;
		border-start-start-radius: 8px;
		content: '';
		display: block;
		height: var(--buttondropdown-label-height);
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 3px;
	}
}
