.buttondropdown[data-isvalid='False'] {
	outline-color: var(--color-error);
	.buttondropdown-label,
	.buttondropdown-arrow,
	.buttondropdown-label:hover,
	.buttondropdown-arrow:hover {
		background-color: var(--color-error-light) !important;
		border-color: var(--color-error) !important;
		color: var(--color-neutral-10);
	}

	.svg-icon {
		color: var(--color-neutral-10);
	}
}

.buttondropdown[data-enabled='False'] {
	pointer-events: none;
	.buttondropdown-label,
	.buttondropdown-arrow {
		background-color: var(--color-neutral-3) !important;
		border-color: var(--color-neutral-8);
		color: var(--color-neutral-8);
	}
	.svg-icon {
		color: var(--color-neutral-8);
	}
}

.buttondropdown[data-size='xsmall'] {
	.btn {
		height: 22px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 22px !important;
	}
}

.buttondropdown[data-size='small'] {
	.btn {
		height: 30px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 30px !important;
	}
}
