@use 'sass:color';

.toast-notification {
	&[data-type='alert-info'] {
		background-color: var(--color-info);
		.toast-notification-progress {
			background-color: var(--color-info-dark);
		}
	}
	&[data-type='alert-error'] {
		background-color: var(--color-error);
		.toast-notification-progress {
			background-color: var(--color-error-dark);
		}
	}
	&[data-type='alert-success'] {
		background-color: var(--color-success);
		.toast-notification-progress {
			background-color: var(--color-success-dark);
		}
	}
	&[data-type='alert-warning'] {
		background-color: var(--color-warning);
		.toast-notification-progress {
			background-color: var(--color-warning-dark);
		}
	}
}
