@use '../../01-foundations/typography';

.popup-dialog {
	margin: unset;
	max-height: unset;
	max-width: unset;
	min-height: unset;
	min-width: unset;
	padding: unset;
	text-align: start;
	width: fit-content;
}

.sapphire-popup-content {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: var(--sapphirepopupcontent-height);
	max-height: calc(100vh - 48px);
	position: relative;
	&-header {
		@extend .heading4;
		flex: 0 0 auto;
		&:empty {
			display: none;
		}
	}
	&-body {
		flex: 1 1 auto;
		margin-inline-end: -8px;
		min-height: 0;
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		&:empty {
			display: none;
		}
	}
	&-footer {
		align-items: center;
		display: grid;
		flex: 0 0 auto;
		grid-template-columns: 1fr auto 1fr;
		&-left {
			justify-self: start;
		}
		&-center {
			justify-self: center;
		}
		&-right {
			justify-self: end;
		}
	}

	&-close {
		inset-inline-end: 16px;
		position: absolute;
		top: 16px;
	}
}

.sapphire-popup-content[data-hasseparators='true'] {
	.sapphire-popup-content-header {
		border-bottom: 1px solid var(--color-neutral-6);
	}
	.sapphire-popup-content-footer {
		border-top: 1px solid var(--color-neutral-6);
	}
}

.sapphire-popup-content-footer:not(:has(> :not(:empty))) {
	display: none;
}
