@use '../../09-utils/_widthcomponent.scss' as *;

.tablewrapper {
	max-height: var(--tablewrapper-max-height);
	overflow-x: auto;
	position: relative;
	scrollbar-width: thin;
	> div {
		display: contents;
	}
	table {
		thead {
			height: 48px;
		}
		.table-header-clone {
			display: none;
			overflow-x: auto;
			overflow-y: hidden;
			position: fixed;
			user-select: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.tablewrapper[data-columnfixedwidths='true'] {
	table {
		table-layout: fixed;
	}
	th,
	td {
		@extend .width-m;
		overflow-wrap: anywhere;
		word-break: break-word;
	}
}

.tablewrapper {
	.table[data-isfixed='true'] {
		thead {
			overflow: hidden;
		}
		.table-header-clone {
			display: table-row;
			width: var(--tablewrapper-width);
		}
	}
}

.tablewrapper[data-hasscrolltop='true'] {
	.table {
		margin-top: 8px;
	}
	.table-scroll-top {
		height: 8px;
		left: 0;
		overflow-x: auto;
		overflow-y: hidden;
		position: absolute;
		scrollbar-width: thin;
		top: 0;
		width: 100%;
	}
	.table-scroll-top__inner {
		height: 1px;
	}
}
