@use '../../09-utils/_widthcomponent.scss' as *;

.tablewrapper {
	max-height: var(--tablewrapper-max-height);
	overflow-x: auto;
	position: relative;
	scrollbar-width: thin;
	.tablewrapper-table {
		display: contents;
	}
	table {
		thead {
			height: 48px;
			th {
				> span,
				> .sortable-icon {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		.table-header-clone {
			display: none;
			overflow-x: auto;
			overflow-y: hidden;
			position: fixed;
			user-select: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.tablewrapper[data-columnfixedwidths='true'] {
	table {
		table-layout: fixed;
	}
	th,
	td {
		@extend .width-m;
		overflow-wrap: anywhere;
		word-break: break-word;
	}
}

.tablewrapper {
	.table[data-isfixed='true'] {
		thead {
			overflow: hidden;
		}
		.table-header-clone {
			display: table-row;
			width: var(--tablewrapper-width);
		}
	}
}

.tablewrapper[data-hasscrolltop='true'] {
	padding-bottom: 16px;
	.table {
		margin-top: 8px;
	}
	.table-scroll-top {
		height: 8px;
		left: 0;
		overflow-x: auto;
		overflow-y: hidden;
		position: absolute;
		scrollbar-width: thin;
		top: 0;
		width: 100%;
	}
	.table-scroll-top__inner {
		height: 1px;
	}
}

.tablewrapper[data-isloading='true'] {
	table {
		opacity: 0.5;
	}
}

.tablewrapper-norecords {
	background-color: var(--color-surface);
	border: solid 1px var(--color-border);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: none;
	min-height: 150px;
	place-items: center;
}

.tablewrapper[data-norecords='true'] {
	.tablewrapper-norecords {
		display: grid;
	}
}
