.svg-icon[data-size='xs2'],
.svg-icon[data-size='xs'] {
	&[data-shape]:not([data-shape='']) {
		height: 12px;
		width: 12px;
		svg {
			height: 11px;
			width: 11px;
		}
	}
	svg {
		height: 12px;
		width: 12px;
	}
}

.svg-icon[data-size='s'] {
	&[data-shape]:not([data-shape='']) {
		height: 16px;
		width: 16px;
		svg {
			height: 12px;
			width: 12px;
		}
	}
	svg {
		height: 16px;
		width: 16px;
	}
}

.svg-icon[data-size='m'] {
	&[data-shape]:not([data-shape='']) {
		height: 24px;
		width: 24px;
		svg {
			height: 18px;
			width: 18px;
		}
	}
	svg {
		height: 24px;
		width: 24px;
	}
}

.svg-icon[data-size='l'] {
	&[data-shape]:not([data-shape='']) {
		height: 32px;
		width: 32px;
		svg {
			height: 22px;
			width: 22px;
		}
	}
	svg {
		height: 32px;
		width: 32px;
	}
}

.svg-icon[data-size='xl'],
.svg-icon[data-size='xl2'],
.svg-icon[data-size='xl3'],
.svg-icon[data-size='xl4'],
.svg-icon[data-size='xl5'],
.svg-icon[data-size='xl6'],
.svg-icon[data-size='xl7'] {
	&[data-shape]:not([data-shape='']) {
		height: 40px;
		width: 40px;
		svg {
			height: 28px;
			width: 28px;
		}
	}
	svg {
		height: 40px;
		width: 40px;
	}
}
