.buttondropdown[data-isvalid='false'] {
	.buttondropdown-label,
	.buttondropdown-arrow,
	.buttondropdown-label:hover,
	.buttondropdown-arrow:hover {
		background-color: var(--color-error-light) !important;
		box-shadow: inset 0 0 0 1px var(--color-error);
		color: var(--color-text);
	}
	.svg-icon {
		color: var(--color-neutral-10);
	}
}

.buttondropdown[data-enabled='false'] {
	cursor: not-allowed;
	.buttondropdown-label,
	.buttondropdown-arrow {
		background-color: var(--color-background-disabled) !important;
		box-shadow: inset 0 0 0 1px var(--color-border);
		color: var(--color-text-disabled);
		pointer-events: none;
	}
	.svg-icon {
		color: var(--color-text-disabled);
	}
}

.buttondropdown[data-issplitbutton='true'][data-enabled='false'] {
	.buttondropdown-label.btn-primary {
		box-shadow:
			inset 1px 0 0 0 var(--color-border),
			/* left */ inset 0 1px 0 0 var(--color-border),
			/* top */ inset 0 -1px 0 0 var(--color-border);
	}
}

.buttondropdown[data-issplitbutton='true'][data-isvalid='false'] {
	.buttondropdown-label,
	.buttondropdown-label.btn-primary {
		box-shadow:
			inset 1px 0 0 0 var(--color-error),
			/* left */ inset 0 1px 0 0 var(--color-error),
			/* top */ inset 0 -1px 0 0 var(--color-error);
	}
}

.buttondropdown[data-size='xsmall'] {
	.btn {
		height: 22px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 22px !important;
	}
}

.buttondropdown[data-size='small'] {
	.btn {
		height: 30px;
		padding-inline-end: var(--space-s);
		padding-inline-start: var(--space-s);
	}
	.btn.btn-icon {
		width: 30px !important;
	}
}
