.popup-content[data-padding='none'] {
	padding: 0;
	.popup-content-body {
		margin-inline-end: unset;
	}
}

.popup-content[data-padding='s'] {
	padding: var(--space-s);
	.popup-content-header {
		margin-bottom: var(--space-xs);
		padding-bottom: var(--space-xs);
	}
	.popup-content-footer {
		margin-top: var(--space-xs);
		padding-top: var(--space-xs);
	}
}

.popup-content[data-padding='base'] {
	padding: var(--space-base);
	.popup-content-header {
		margin-bottom: var(--space-s);
		padding-bottom: var(--space-s);
	}
	.popup-content-footer {
		margin-top: var(--space-s);
		padding-top: var(--space-s);
	}
}

.popup-content[data-padding='m'] {
	padding: var(--space-m);
	.popup-content-header {
		margin-bottom: var(--space-base);
		padding-bottom: var(--space-base);
	}
	.popup-content-footer {
		margin-top: var(--space-base);
		padding-top: var(--space-base);
	}
}

.popup-content[data-padding='l'] {
	padding: var(--space-l);
	.popup-content-header {
		margin-bottom: var(--space-base);
		padding-bottom: var(--space-base);
	}
	.popup-content-footer {
		margin-top: var(--space-base);
		padding-top: var(--space-base);
	}
}

.popup-content[data-padding='xl'] {
	padding: var(--space-xl);
	.popup-content-header {
		margin-bottom: var(--space-m);
		padding-bottom: var(--space-m);
	}
	.popup-content-footer {
		margin-top: var(--space-m);
		padding-top: var(--space-m);
	}
}
