@use '../../01-foundations/styles/_colors.scss' as *;

div[data-block$='SapphireInput'] {
	display: contents;
}

.sapphireinput {
	display: inline-flex;
	position: relative;
	&-icon {
		display: grid;
		height: 20px;
		left: 10px;
		place-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
	}
	&-clear {
		cursor: pointer;
		display: none;
		height: 20px;
		place-items: center;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
	}
	.form-control[data-input] {
		padding: 0 16px 0 36px;
		width: 100%;
		&::placeholder {
			color: var(--color-neutral-6);
		}
	}
	> div:not(.sapphireinput-icon):not(.sapphireinput-clear) {
		width: 100%;
	}
}

.sapphireinput[data-iconname=''] {
	.form-control[data-input] {
		padding-left: var(--space-base);
	}
}

.sapphireinput[data-hasclear='true'] {
	.form-control[data-input] {
		padding-right: 36px;
	}
}

.sapphireinput[data-hascontent='true'][data-hasclear='true'] {
	.sapphireinput-clear {
		display: grid;
	}
}

.sapphireinput[data-theme='filter'] {
	.form-control[data-input] {
		background-color: $color-sapphire-surface;
		border-radius: 100px;
	}
}
