@use '../../01-foundations/styles/_colors.scss' as *;
@use '../../01-foundations/styles/_mixins.scss' as *;

div[data-block$='SapphireInput'] {
	display: contents;
}

.sapphireinput {
	display: flex;
	flex-direction: column;
	gap: 4px;
	&-minus,
	&-plus {
		@include focus-visible();
		cursor: pointer;
		display: grid;
		height: 20px;
		place-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
		&[data-enabled='false'] {
			opacity: 0.2;
			pointer-events: none;
		}
	}
	&-minus {
		inset-inline-start: 10px;
	}
	&-plus {
		inset-inline-end: 10px;
	}
	&-icon {
		display: grid;
		height: 20px;
		inset-inline-start: 10px;
		place-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
	}
	&-clear {
		@include focus-visible();
		cursor: pointer;
		display: none;
		height: 20px;
		inset-inline-end: 10px;
		place-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
	}
	.form-control[data-input] {
		padding-block: 0;
		padding-inline-end: 16px;
		padding-inline-start: 36px;
		width: 100%;
		&::placeholder {
			color: var(--color-neutral-6);
		}
	}
}

.sapphireinput-above {
	display: inline-flex;
	position: relative;
	width: 100%;
	> .sapphireinput-input {
		width: 100%;
	}
}

.sapphireinput-hint {
	color: var(--color-neutral-7);
	font-size: var(--font-size-xs);
	padding-inline: var(--space-xs);
	&:empty {
		display: none;
	}
}

.sapphireinput[data-isvalid] .sapphireinput-invalid {
	background-color: var(--color-error-light);
	border: solid 1px var(--color-error);
	color: var(--color-error);
	display: none;
	font-size: var(--font-size-xs);
	padding: var(--space-xs) var(--space-s);
	&:empty {
		display: none;
	}
}

.sapphireinput[data-isvalid='false'] {
	.form-control[data-input] {
		border-color: var(--color-error);
	}
	.sapphireinput-invalid {
		display: flex;
		gap: 4px;
	}
}

.sapphireinput-invalid:has(.sapphireinput-invalid-message:empty) {
	display: none;
}

.sapphireinput[data-iconname=''] {
	.form-control[data-input] {
		padding-inline-start: var(--space-base);
	}
}

.sapphireinput[data-hassteps='true'] {
	.sapphireinput-icon {
		inset-inline-start: 30px;
	}
	.form-control[data-input] {
		padding-inline-end: 36px;
		padding-inline-start: 36px;
	}

	.sapphireinput-clear {
		inset-inline-end: 30px;
	}
}

.sapphireinput[data-hassteps='true'][data-hasicon='true'] {
	.form-control[data-input] {
		padding-inline-start: 56px;
	}
}

.sapphireinput[data-hasclear='true'] {
	.form-control[data-input] {
		padding-inline-end: 36px;
	}
}

.sapphireinput[data-hassteps='true'][data-hasclear='true'] {
	.form-control[data-input] {
		padding-inline-end: 56px;
	}
}

.sapphireinput[data-hascontent='true'][data-hasclear='true'] {
	.sapphireinput-clear {
		display: grid;
	}
}

.sapphireinput[data-theme='filter'] {
	.form-control[data-input] {
		background-color: $color-sapphire-interactive;
		border-radius: 100px;
	}
}

.sapphireinput[data-enabled='false'] {
	cursor: not-allowed;
	.sapphireinput-minus,
	.sapphireinput-plus,
	.sapphireinput-icon,
	.sapphireinput-clear {
		color: var(--color-neutral-6);
		pointer-events: none;
	}
	.form-control[data-input] {
		background-color: var(--color-neutral-2);
		color: var(--color-neutral-6);
		pointer-events: none;
	}
}
