@use '../09-utils/_widthcomponent.scss' as *;

div[data-block$='FormField'] {
	display: contents;
}

.form-field {
	display: inline-flex;
	gap: 8px;
}

.form-field[data-orientation='horizontal'] {
	.form-field-label {
		padding-top: 6px;
	}
	.form-field-control {
		flex: 1 1 0;
	}
}

.form-field[data-orientation='vertical'] {
	flex-direction: column;
}

@each $name, $size in $widthcomponent-sizes {
	.form-field[data-labelwidth='#{$name}'] {
		.form-field-label {
			width: $size;
		}
	}
}
