.layoutwrapper-body-auxiliar {
	-servicestudio-display: none !important;
}

.layoutwrapper-body-auxiliar {
	background-color: var(--color-neutral-0);
	border-radius: 8px;
	box-shadow: var(--box-shadow-lg);
	flex: 0 0 600px;
	font-size: 13px;
	overflow: auto;
	padding: 12px 2px;
	scrollbar-gutter: stable both-edges;
	&:empty {
		display: none;
	}

	p {
		font-family: 'Lato';
	}
	hr {
		border-color: var(--color-border);
		border-style: solid;
		color: var(--color-border);
		margin-block: 24px;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	thead {
		display: none;
	}
	tr {
		&:nth-child(odd) {
			background-color: var(--color-neutral-0);
		}
		&:nth-child(even) {
			background-color: var(--color-neutral-1);
		}
	}
	th,
	td {
		padding: 0 8px;
		text-align: left;
		&:first-child {
			// min-width: 150px;
			padding-inline-start: 0;
		}
	}
	h6 {
		font-size: 15px;
	}
}

body[data-showdocumentation='false'] {
	.layoutwrapper[data-documentationwidth] {
		.layoutwrapper-body-auxiliar {
			display: none;
		}
	}
}

.layoutwrapper[data-documentationwidth='xl3'] {
	.layoutwrapper-body-auxiliar {
		display: block;
		&:empty {
			display: none;
		}
	}
}
