@use '../../01-foundations/_colors.scss' as *;

.screen-container {
	scrollbar-gutter: stable;
}

div[data-block$='LayoutBlank'] {
	display: contents;
}

body:has(.layoutwrapper) {
	background-color: $color-background;
}

body.overlay-iframe,
body.overlay-iframe-auto-size {
	background-color: transparent;
}

.layoutwrapper {
	align-items: flex-start;
	display: flex;
	&-aside {
		background-color: var(--color-neutral-0);
		border-right: 1px solid var(--color-neutral-5);
		height: 100vh;
		position: sticky;
		top: 0;
	}
	&-body {
		display: flex;
		flex: 1;
		gap: 24px;
		min-width: 0;
		padding: 48px 24px;
		&-content {
			flex: 1;
			margin-inline: auto;
			max-width: 1300px;
			min-width: 0;
		}
		&-auxiliar {
			flex: 0 0 600px;
			font-size: 13px;
			&:empty {
				display: none;
			}
		}
	}
}
