.sapphire-tabs[data-hasscroll='true'] {
	.sapphire-tabs-content {
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}
}

.sapphire-tabs[data-isfullheight='true'] {
	.sapphire-tabs-content {
		height: calc(100vh - var(--tabs-content-top, 0px) - var(--tabs-bottom-distance, 0px));
	}
}

.popup-content .sapphire-tabs[data-isfullheight='true'] {
	.sapphire-tabs-content {
		height: calc(var(--popupcontentfooter-top, 0px) - 8px - var(--tabs-content-top, 0px));
	}
}
