div[data-block$='LazyList'] {
	display: contents;
}

.lazylist {
	display: block;
	outline: 1px solid blue;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	width: 100%;

	&[data-fillviewport='true'] {
		height: calc(100vh - var(--lazylist-top, 0px) - var(--lazylist-bottom, 0px));
	}

	&[data-hasmaxheight='true'] {
		max-height: var(--lazylist-max-height);
	}

	&[data-hasspecificheight='true'] {
		height: var(--lazylist-height);
	}

	> .lazylist-placeholder {
		display: contents;
	}

	.list.list-group {
		max-height: none;
		overflow: visible;
	}
}

.lazylist-spacer {
	pointer-events: none;
	width: 100%;
}
